<!DOCTYPE html>
<html>
    <head>
        <title>ML-CH11-2</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/ml_ch00.css') }}">
    </head>
    <body>
        <div class=center>
        	<h2>Working with Unlabeled Data – Clustering Analysis</h2>
        	
        	<br><h3>Organizing clusters as a hierarchical tree</h3>
        	<br><p>Performing hierarchical clustering on a distance matrix</p>
   			<img src="data:image/png;base64, {{ ml11_plot_url7 }}">
        	<br><p>Attaching dendrograms to a heat map</p>
   			<img src="data:image/png;base64, {{ ml11_plot_url8 }}">
        	<br><p>Applying agglomerative clustering via scikit-learn</p>
   			<p>{{ ml11_url2 }}</p>
   			<p>{{ ml11_url3 }}</p>

        	<br><br><a href="/">Home</a>
        </div>
    </body>
</html>
