<!DOCTYPE html>
<html>
    <head>
        <title>ML-CH11-1</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/ml_ch00.css') }}">
    </head>
    <body>
        <div class=center>
        	<h2>Working with Unlabeled Data – Clustering Analysis</h2>
        	
        	<br><h3>Grouping objects by similarity using k-means</h3>
        	<br><p>K-means clustering using scikit-learn</p>
   			<img src="data:image/png;base64, {{ ml11_plot_url1 }}">
   			<img src="data:image/png;base64, {{ ml11_plot_url2 }}">
        	<br><p>Using the elbow method to find the optimal number of clusters</p>
   			<p>{{ ml11_url1 }}</p>
   			<img src="data:image/png;base64, {{ ml11_plot_url3 }}">
        	<br><p>Quantifying the quality of clustering via silhouette plots</p>
   			<img src="data:image/png;base64, {{ ml11_plot_url4 }}">
   			<img src="data:image/png;base64, {{ ml11_plot_url5 }}">
   			<img src="data:image/png;base64, {{ ml11_plot_url6 }}">

        	<br><br><a href="/#ml_ch011_1">Home</a>
        </div>
    </body>
</html>
