<!DOCTYPE html>
<html>
    <head>
        <title>ML-CH11-3</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/ml_ch00.css') }}">
    </head>
    <body>
        <div class=center>
        	<h2>Working with Unlabeled Data – Clustering Analysis</h2>
        	
        	<br><h3>Locating regions of high density via DBSCAN</h3>
   			<img src="data:image/png;base64, {{ ml11_plot_url9 }}">
        	<br><p>K-means and hierarchical clustering:</p>
   			<img src="data:image/png;base64, {{ ml11_plot_url10 }}">
        	<br><p>Density-based clustering:</p>
   			<img src="data:image/png;base64, {{ ml11_plot_url11 }}">
        	
        	<br><br><a href="/#ml_ch011_3">Home</a>
        </div>
    </body>
</html>
