<!DOCTYPE html>
<html>
    <head>
        <title>AI-CH11-4</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/ml_ch00.css') }}">
    </head>
    <body>
        <div class=center>
        	<h2>Probabilistic reasoning for sequential data</h2>
        	<br><h3>Slicer</h3>
        	<img src="data:image/png;base64, {{ ai11_plot_url1 }}">
        	<img src="data:image/png;base64, {{ ai11_plot_url2 }}">

        	<br><br><a href="/#ai_ch11_4">Home</a>
        </div>
    </body>
</html>
