<!DOCTYPE html>
<html>
    <head>
        <title>AI-CH07-3</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/ml_ch00.css') }}">
    </head>
    <body>
        <div class=center>
        	<h2>Heuristic search techniques</h2>
        	<br><h3>Coloring</h3>

			<p>
			Solutions:<br>
			Normal: {{ ai07_3_url1 }}<br>
			Most constrained variable: {{ ai07_3_url2 }}<br>
			Highest degree variable: {{ ai07_3_url3 }}<br>
			Least constraining value: {{ ai07_3_url4 }}<br>
			Most constrained variable and least constraining value: {{ ai07_3_url5 }}<br>
			Highest degree and least constraining value: {{ ai07_3_url6 }}<br>
			Minimum conflicts: {{ ai07_3_url7 }}<br>
			</p>
   			
        	<br><br><a href="/#ai_ch07_3">Home</a>
        </div>
    </body>
</html>
