<!DOCTYPE html>
<html>
    <head>
        <title>ML-CH07-3</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/ml_ch00.css') }}">
    </head>
    <body>
        <div class=center>
        	<h2>Combining Different Models for Ensemble Learning</h2>
        	
        	<br><p>Evaluating and tuning the ensemble classifier</p>
        	<img src="data:image/png;base64, {{ ml07_plot_url2 }}">
        	<img src="data:image/png;base64, {{ ml07_plot_url3 }}">
        	<p>
        	{% for result in ml07_url4 %}
        		{{ result }}<br>
        	{% endfor %}
        	</p>
   			<p>{{ ml07_url5 }}</p>
   			<p>{{ ml07_url6 }}</p>
        	
        	<br><br><a href="/#ml_ch07_3">Home</a>
        </div>
    </body>
</html>
