<!DOCTYPE html>
<html>
    <head>
        <title>ML-CH07-1</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/ml_ch00.css') }}">
    </head>
    <body>
        <div class=center>
        	<h2>Combining Different Models for Ensemble Learning</h2>
        	
        	<br><h3>Learning with ensembles</h3>
   			<img src="data:image/png;base64, {{ ml07_plot_url1 }}">
        	
        	<br><br><a href="/">Home</a>
        </div>
    </body>
</html>
