<!DOCTYPE html>
<html>
    <head>
        <title>ML-CH07-4</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/ml_ch00.css') }}">
    </head>
    <body>
        <div class=center>
        	<h2>Combining Different Models for Ensemble Learning</h2>
        	
        	<br><h3>Bagging – building an ensemble of classifiers from bootstrap samples</h3>
        	<br><p>Applying bagging to classify samples in the Wine dataset</p>
   			<p>{{ ml07_url7 }}</p>
   			<p>{{ ml07_url8 }}</p>
        	<img src="data:image/png;base64, {{ ml07_plot_url4 }}">
        	
        	<br><br><a href="/#ml_ch07_4">Home</a>
        </div>
    </body>
</html>
