<!DOCTYPE html>
<html>
    <head>
        <title>ML-CH07-5</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/ml_ch00.css') }}">
    </head>
    <body>
        <div class=center>
        	<h2>Combining Different Models for Ensemble Learning</h2>
        	
        	<br><h3>Leveraging weak learners via adaptive boosting</h3>
        	<br><p>Applying AdaBoost using scikit-learn</p>
   			<p>{{ ml07_url9 }}</p>
   			<p>{{ ml07_url10 }}</p>
        	<img src="data:image/png;base64, {{ ml07_plot_url5 }}">
        	
        	<br><br><a href="/#ml_ch07_5">Home</a>
        </div>
    </body>
</html>
