<!DOCTYPE html>
<html>
    <head>
        <title>AI-M01-CH02-2</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/ml_ch00.css') }}">
    </head>
    <body>
        <div class=center>
        	<h2>Normalized Exponential Function</h2>
        	<p>0: Vector to be normalized: {{ ai02_2_url1 }}</p>
        	<p>1: {{ ai02_2_url2 }}</p>
        	<p>2: {{ ai02_2_url3 }}</p>
        	<p>3: {{ ai02_2_url4 }}</p>
        	<p>4: {{ ai02_2_url5 }}</p>
        	<p>5: {{ ai02_2_url6 }}</p>
        	<p>6 Normalized vector: {{ ai02_2_url7 }}</p>
        	<p>7A Normalized vector: {{ ai02_2_url8 }}</p>    	
        	<p>7B Sum of the normalize vector: {{ ai02_2_url9 }}</p>
        	<p>7C.Finding the highest value in the normalized y vector: {{ ai02_2_url10 }}</p>	
        	<p>This is a vector that is an output of a one-hot function on a softmax vector</p>
        	<p>{{ ai02_2_url11 }}</p>	
        	
        	<br><br><a href="/#ai_m01_ch02_2">Home</a>
        </div>
    </body>
</html>
