<!DOCTYPE html>
<html>
    <head>
        <title>AI-CH04-3</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/ml_ch00.css') }}">
    </head>
    <body>
        <div class=center>
        	<h2>Detecting patterns with unsupervised learning</h2>
        	<br><h3>KMeansy</h3>

        	<img src="data:image/png;base64, {{ ai04_3_plot_url1 }}">

        	<br><br><a href="/#ai_ch04_3">Home</a>
        </div>
    </body>
</html>
