<!DOCTYPE html>
<html>
    <head>
        <title>ML-CH14</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/ml_ch00.css') }}">
    </head>
    <body>
        <div class=center>
        	<h2>Going Deeper: The Mechanics of TensorFlow</h2>
        	<br><p>TensorFlow in a nutshell</p>
   			<p>{{ ml14_url1 }}</p>
   			<p>{{ ml14_url2 }}</p>
        	
        	<br><h3>Working with TensorFlow’s placeholders, variables, and operations</h3>
        	<br><p>Building a regression model</p>
        	<img src="data:image/png;base64, {{ ml14_plot_url1 }}">
        	<br><p>Executing objects in a TensorFlow graph using their names</p>
        	<img src="data:image/png;base64, {{ ml14_plot_url2 }}">

        	<br><h3>Saving and restoring a model in TensorFlow</h3>
        	<img src="data:image/png;base64, {{ ml14_plot_url3 }}">
   			
        	<br><br><a href="/">Home</a>
        </div>
    </body>
</html>
