<!DOCTYPE html>
<html>
    <head>
        <title>ML-CH02-21</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/ml_ch00.css') }}">
    </head>
    <body>
        <div class=center>
        	<h2>Training Machine Learning Algorithms for Classification</h2>
        	<br><h3>Adaptive linear neurons and the convergence of learning</h3>
        	<br><p>Minimizing cost functions with gradient descent</p>
    		<img style="width:860px;height:420;" src="data:image/png;base64, {{ ml02_plot_url4 }}">
        	<br><br><a href="/">Home</a>
        </div>
    </body>
</html>
