<!DOCTYPE html>
<html>
    <head>
        <title>ML-CH02-23</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/ml_ch00.css') }}">
    </head>
    <body>
        <div class=center>
        	<h2>Training Machine Learning Algorithms for Classification</h2>
        	<br><h3>Adaptive linear neurons and the convergence of learning</h3>
        	<br><p>Improving gradient descent through feature scaling</p>
        	<img src="data:image/png;base64, {{ ml02_plot_url6 }}">
        	<br><br><a href="/#ml_ch02_23">Home</a>
        </div>
    </body>
</html>
