<!DOCTYPE html>
<html>
    <head>
        <title>AI-CH12-5</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/ml_ch00.css') }}">
    </head>
    <body>
        <div class=center>
        	<h2>Speech recognition</h2>
        	<br><h3>Frequency Transformer</h3>
        	
        	<img src="data:image/png;base64, {{ ai12_plot_url1 }}">

        	<br><br><a href="/#ai_ch12_5">Home</a>
        </div>
    </body>
</html>
