<!DOCTYPE html>
<html>
    <head>
        <title>ML-CH05-3</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/ml_ch00.css') }}">
    </head>
    <body>
        <div class=center>
        	<h2>Compressing Data via Dimensionality Reduction</h2>
        	<br><br><h3>Using kernel principal component analysis for nonlinear mappings</h3>
   			<br><p>Implementing a kernel principal component analysis in Python</p>
   			<br><br><p><b>Separating half-moon shapes</b></p>
   			<img src="data:image/png;base64, {{ ml05_plot_url11 }}">
        	<img src="data:image/png;base64, {{ ml05_plot_url12 }}">
   			<img src="data:image/png;base64, {{ ml05_plot_url13 }}">
   			<br><br><p><b>Separating concentric circles</b></p>
   			<img src="data:image/png;base64, {{ ml05_plot_url14 }}">
        	<img src="data:image/png;base64, {{ ml05_plot_url15 }}">
   			<img src="data:image/png;base64, {{ ml05_plot_url16 }}">
   			<br><p>Projecting new data points</p>
   			<img src="data:image/png;base64, {{ ml05_plot_url17 }}">
   			<br><p>Kernel principal component analysis in scikit-learn</p>
        	<img src="data:image/png;base64, {{ ml05_plot_url18 }}">
        	<br><br><a href="/#ml_ch05_3">Home</a>
        </div>
    </body>
</html>
