<!DOCTYPE html>
<html>
    <head>
        <title>ML-CH05-1</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/ml_ch00.css') }}">
    </head>
    <body>
        <div class=center>
        	<h2>Compressing Data via Dimensionality Reduction</h2>
        	<br><h3>Unsupervised dimensionality reduction via principal component analysis 128</h3>
        	<br><p>Total and explained variance</p>
   			<img src="data:image/png;base64, {{ ml05_plot_url1 }}">
        	<br><p>Feature transformation</p>
   			<img src="data:image/png;base64, {{ ml05_plot_url2 }}">
        	<br><p>Principal component analysis in scikit-learn</p>
        	<img src="data:image/png;base64, {{ ml05_plot_url3 }}">
        	<img src="data:image/png;base64, {{ ml05_plot_url4 }}">
   			<br>
   			<img src="data:image/png;base64, {{ ml05_plot_url5 }}">
        	<img src="data:image/png;base64, {{ ml05_plot_url6 }}">
        	<br><br><a href="/#ml_ch05_1">Home</a>
        </div>
    </body>
</html>
