<!DOCTYPE html>
<html>
    <head>
        <title>ML-CH05-21</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/ml_ch00.css') }}">
    </head>
    <body>
        <div class=center>
        	<h2>Compressing Data via Dimensionality Reduction</h2>
        	<br><br><h3>Supervised data compression via linear discriminant analysis</h3>
        	<br><p>Selecting linear discriminants for the new feature subspace</p>
   			<img src="data:image/png;base64, {{ ml05_plot_url7 }}">
        	<br><br><a href="/">Home</a>
        </div>
    </body>
</html>
