<!DOCTYPE html>
<html>
    <head>
        <title>AI-CH03-6</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/ml_ch00.css') }}">
    </head>
    <body>
        <div class=center>
        	<h2>Predictive analytics with ensemble learning</h2>
        	<br><h3>Traffic Prediction</h3>
			<p>
       		{{ ai03_6_url1 }}<br>
       		{{ ai03_6_url2 }}<br>
   			</p>	

        	<br><br><a href="/#ai_ch03_6">Home</a>
        </div>
    </body>
</html>
