<!DOCTYPE html>
<html>
    <head>
        <title>AI-CH03-2</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/ml_ch00.css') }}">
    </head>
    <body>
        <div class=center>
        	<h2>Predictive analytics with ensemble learning</h2>
        	<br><h3>Decision Trees</h3>
        	<img src="data:image/png;base64, {{ ai03_2_plot_url1 }}">
        	<img src="data:image/png;base64, {{ ai03_2_plot_url2 }}">

        	<p>{{ ai03_2_url1 }}</p>
        	<p>{{ ai03_2_url2 }}</p>
        	<p>{{ ai03_2_url3 }}</p>
        	<p>{{ ai03_2_url4 }}</p>
        	<p>{{ ai03_2_url5 }}</p>
        	<p>{{ ai03_2_url6 }}</p>
        	<p>{{ ai03_2_url7 }}</p>
        	<p>{{ ai03_2_url8 }}</p>
        	
        	<br><br><a href="/">Home</a>
        </div>
    </body>
</html>
