<!DOCTYPE html>
<html>
    <head>
        <title>AI-CH05-5</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/ml_ch00.css') }}">
    </head>
    <body>
        <div class=center>
        	<h2>Building recommender systems</h2>
        	<br><h3>Nearest Neighbor Classifier</h3>

			<p>Predicted output: {{ ai05_5_url1 }}</p>
   			
        	<img src="data:image/png;base64, {{ ai05_5_plot_url1 }}">
        	<img src="data:image/png;base64, {{ ai05_5_plot_url2 }}"><br>
        	<img src="data:image/png;base64, {{ ai05_5_plot_url3 }}">
        	<img src="data:image/png;base64, {{ ai05_5_plot_url4 }}">

        	<br><br><a href="/#ai_ch05_5">Home</a>
        </div>
    </body>
</html>
