<!DOCTYPE html>
<html>
    <head>
        <title>AI-CH05-6</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/ml_ch00.css') }}">
    </head>
    <body>
        <div class=center>
        	<h2>Building recommender systems</h2>
        	<br><h3>Pipeline Trainer</h3>

			<p>Predicted output:<br>
			{{ ai05_6_url1 }}
			</p>
			<p>Score: {{ ai05_6_url2 }}</p>
			<p>Indices of selected features: {{ ai05_6_url3 }}</p>

        	<br><br><a href="/#ai_ch05_6">Home</a>
        </div>
    </body>
</html>
