<!DOCTYPE html>
<html>
    <head>
        <title>ML-CH04-11</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/ml_ch00.css') }}">
    </head>
    <body>
        <div class=center>
        	<h2>Building Good Training Sets – Data Preprocessing</h2>
        	<br><h3>Selecting meaningful features</h3>
        	<br><p>Sparse solutions with L1 regularization</p>
   			<img src="data:image/png;base64, {{ ml04_plot_url1 }}">
        	<br><br><a href="/">Home</a>
        </div>
    </body>
</html>
