<!DOCTYPE html>
<html>
    <head>
        <title>ML-CH04-2</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/ml_ch00.css') }}">
    </head>
    <body>
        <div class=center>
        	<h2>Building Good Training Sets – Data Preprocessing</h2>
        	<br><h3>Assessing feature importance with Random Forests</h3>
        	<img src="data:image/png;base64, {{ ml04_plot_url3 }}">
        	<br><br><a href="/#ml_ch04_2">Home</a>
        </div>
    </body>
</html>
