<!DOCTYPE html>
<html>
    <head>
        <title>ML-CH03-3</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/ml_ch00.css') }}">
    </head>
    <body>
        <div class=center>
        	<h2>Machine Learning Classifiers Using Scikit-Learn</h2>
        	<br><h3>Solving nonlinear problems using a kernel SVM</h3>
        	<br><p>Using the kernel trick to find separating hyperplanes in higher dimensional space</p>
        	<img src="data:image/png;base64, {{ ml03_plot_url9 }}"><img src="data:image/png;base64, {{ ml03_plot_url10 }}"><img src="data:image/png;base64, {{ ml03_plot_url11 }}">
        	<br><br><a href="/#ml_ch03_3">Home</a>
        </div>
    </body>
</html>
