<!DOCTYPE html>
<html>
    <head>
        <title>ML-CH03-0</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/ml_ch00.css') }}">
    </head>
    <body>
        <div class=center>
        	<h2>Machine Learning Classifiers Using Scikit-Learn</h2>
        	<br><p>Training a perceptron model using the standardized training data</p>
    		<img src="data:image/png;base64, {{ ml03_plot_url1 }}">
        	<br><br><a href="/">Home</a>
        </div>
    </body>
</html>
