<!DOCTYPE html>
<html>
    <head>
        <title>ML-CH03-42</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/ml_ch00.css') }}">
    </head>
    <body>
        <div class=center>
        	<h2>Machine Learning Classifiers Using Scikit-Learn</h2>
        	<br><h3>Decision tree learning</h3>
        	<br><p>Building a decision tree</p>
   			<img src="data:image/png;base64, {{ ml03_plot_url13 }}">
        	<br><br><a href="/#ml_ch03_42">Home</a>
        </div>
    </body>
</html>
