<!DOCTYPE html>
<html>
    <head>
        <title>ML-CH03-22</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/ml_ch00.css') }}">
    </head>
    <body>
        <div class=center>
        	<h2>Machine Learning Classifiers Using Scikit-Learn</h2>
        	<br><h3>Maximum margin classification with support vector machines</h3>
        	<br><p>Dealing with the nonlinearly separable case using slack variables</p>
   			<img src="data:image/png;base64, {{ ml03_plot_url8 }}">
        	<br><br><a href="/">Home</a>
        </div>
    </body>
</html>
