<!DOCTYPE html>
<html>
    <head>
        <title>AI-CH02-1</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/ml_ch00.css') }}">
    </head>
    <body>
        <div class=center>
        	<h2>Classification and regression using supervised learning</h2>
        	<br><h3>Confusion Matrix</h3>
        	<img src="data:image/png;base64, {{ ai02_plot_url1 }}">
        	<br><br><a href="/">Home</a>
        </div>
    </body>
</html>
