<!DOCTYPE html>
<html>
    <head>
        <title>AI-CH02-8</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/ml_ch00.css') }}">
    </head>
    <body>
        <div class=center>
        	<h2>Classification and regression using supervised learning</h2>
        	<br><h3>Regressor Multivar</h3>
        	<p><b>Linear regressor performance:</b></p>
        	<p>Mean absolute error = {{ ai02_8_url1 }}</p>
        	<p>Mean squared error = {{ ai02_8_url2 }}</p>
        	<p>Median absolute error = {{ ai02_8_url3 }}</p>
        	<p>Explain variance score = {{ ai02_8_url4 }}</p>
        	<p>R2 score = {{ ai02_8_url5 }}</p>
        	<p>Linear regression:<br>
        	{{ ai02_8_url6 }}</p>
        	<p>Polynomial regression:<br>
        	{{ ai02_8_url7 }}</p>
        	<br><br><a href="/#ai_ch02_8">Home</a>
        </div>
    </body>
</html>
