<!DOCTYPE html>
<html>
    <head>
        <title>AI-CH02-3</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/ml_ch00.css') }}">
    </head>
    <body>
        <div class=center>
        	<h2>Classification and regression using supervised learning</h2>
        	<br><h3>House Prices</h3>
        	<p><b>#### Performance ####</b></p>
        	<p>Mean squared error = {{ ai02_3_url1 }}</p>
        	<p>Explained variance score = {{ ai02_3_url2 }}</p>
        	<br><p>Predicted price: {{ ai02_3_url3 }}</p>
        	<br><br><a href="/">Home</a>
        </div>
    </body>
</html>
