<!DOCTYPE html>
<html>
    <head>
        <title>AI-CH02-9</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/ml_ch00.css') }}">
    </head>
    <body>
        <div class=center>
        	<h2>Classification and regression using supervised learning</h2>
        	<br><h3>Regressor Singlevar</h3>
        	<img src="data:image/png;base64, {{ ai02_plot_url1 }}">
        	<p><b>Linear regressor performance:</b></p>
        	<p>Mean absolute error = {{ ai02_9_url1 }}</p>
        	<p>Mean squared error = {{ ai02_9_url2 }}</p>
        	<p>Median absolute error = {{ ai02_9_url3 }}</p>
        	<p>Explain variance score = {{ ai02_9_url4 }}</p>
        	<p>R2 score = {{ ai02_9_url5 }}</p><br>
        	<p>New mean absolute error = {{ ai02_9_url6 }}</p>
        	<br><br><a href="/">Home</a>
        </div>
    </body>
</html>
