<!DOCTYPE html>
<html>
    <head>
        <title>ML-CH10-1</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/ml_ch00.css') }}">
    </head>
    <body>
        <div class=center>
        	<h2>Predicting Continuous Target Variables with Regression Analysis</h2>
        	
        	<br><h3>Exploring the Housing Dataset</h3>
        	<br><p>Visualizing the important characteristics of a dataset</p>
   			<img src="data:image/png;base64, {{ ml10_plot_url1 }}">
   			<img src="data:image/png;base64, {{ ml10_plot_url2 }}">
        	
        	<br><br><a href="/">Home</a>
        </div>
    </body>
</html>
