<!DOCTYPE html>
<html>
    <head>
        <title>ML-CH10-2</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/ml_ch00.css') }}">
    </head>
    <body>
        <div class=center>
        	<h2>Predicting Continuous Target Variables with Regression Analysis</h2>
        	
        	<br><h3>Implementing an ordinary least squares linear regression model</h3>
        	<br><p>Solving regression for regression parameters with gradient descent</p>
        	<img src="data:image/png;base64, {{ ml10_plot_url3 }}">
        	<img src="data:image/png;base64, {{ ml10_plot_url4 }}">
   			<p>{{ ml10_url1 }}</p>
   			<p>{{ ml10_url2 }}</p>
   			<p>{{ ml10_url3 }}</p>
        	<br><p>Estimating the coefficient of a regression model via scikit-learn</p>
   			<p>{{ ml10_url4 }}</p>
   			<p>{{ ml10_url5 }}</p>
   			<img src="data:image/png;base64, {{ ml10_plot_url5 }}">
   			<p>{{ ml10_url6 }}</p>
   			<p>{{ ml10_url7 }}</p>

        	<br><br><a href="/">Home</a>
        </div>
    </body>
</html>
