<!DOCTYPE html>
<html>
    <head>
        <title>ML-CH10-5</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/ml_ch00.css') }}">
    </head>
    <body>
        <div class=center>
        	<h2>Predicting Continuous Target Variables with Regression Analysis</h2>
        	
        	<br><h3>Using regularized methods for regression</h3>
   			<p>{{ ml10_url12 }}</p>
   			<p>{{ ml10_url13 }}</p>
   			<p>{{ ml10_url14 }}</p>
   			
        	<br><br><a href="/">Home</a>
        </div>
    </body>
</html>
