<!doctype html>
<html>
  <head>
    <title>Movie Classification</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
  </head>
  <body>

<h2>Please enter your movie review:</h2>

{% from "ml_ch09/_formhelpers.html" import render_field %}

<form method=post action="/ml_ch09results">
  <dl>
	{{ render_field(form.moviereview, cols='30', rows='10') }}
  </dl>
  <div>
	  <input type=submit value='Submit review' name='submit_btn'>
  </div>
</form>

  </body>
</html>