<!DOCTYPE html>
<html>
    <head>
        <title>ML-CH06</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/ml_ch00.css') }}">
    </head>
    <body>
        <div class=center>
        	<h2>Learning Best Practices for Model Evaluation and Hyperparameter Tuning</h2>
        	
        	<br><h3>Streamlining workflows with pipelines</h3>
        	<br><p>Combining transformers and estimators in a pipeline</p>
			<p>{{ ml06_url1 }}</p>
			
			<br><h3>Using k-fold cross-validation to assess model performance</h3>
			<br><p>K-fold cross-validation</p>
        	{% for result in ml06_url2 %}
        		{{ result }}<br>
        	{% endfor %}
        	<br><br>
        	<p>{{ ml06_url3 }}</p>
        	<p>{{ ml06_url4 }}</p>
        	<p>{{ ml06_url5 }}</p>
        				
        	<br><h3>Debugging algorithms with learning and validation curves</h3>
        	<br><p>Diagnosing bias and variance problems with learning curves</p>
   			<img src="data:image/png;base64, {{ ml06_plot_url1 }}">
   			<br><p>Addressing overfitting and underfitting with validation curves</p>
   			<img src="data:image/png;base64, {{ ml06_plot_url2 }}">

        	<br><h3>Fine-tuning machine learning models via grid search</h3>
        	<br><p>Tuning hyperparameters via grid search</p>
        	<p>{{ ml06_url6 }}</p>
        	<p>{{ ml06_url7 }}</p>
        	<p>{{ ml06_url8 }}</p>
        	<br><p>Algorithm selection with nested cross-validation</p>
        	<p>{{ ml06_url9 }}</p>
        	<p>{{ ml06_url10 }}</p>
   			
        	<br><h3>Looking at different performance evaluation metrics</h3>
        	<br><p>Reading a confusion matrix</p>
   			<img src="data:image/png;base64, {{ ml06_plot_url3 }}">
   			<br><p>Optimizing the precision and recall of a classification model</p>
        	<p>{{ ml06_url11 }}</p>
        	<p>{{ ml06_url12 }}</p>
        	<p>{{ ml06_url13 }}</p>
        	<p>{{ ml06_url14 }}</p>
        	<p>{{ ml06_url15 }}</p>
   			
   			<br><p>Plotting a receiver operating characteristic</p>
   			<img src="data:image/png;base64, {{ ml06_plot_url4 }}">
        	<p>{{ ml06_url16 }}</p>
        	<p>{{ ml06_url17 }}</p>
        	<br><br><a href="/#ml_ch06">Home</a>
        </div>
    </body>
</html>
