<!DOCTYPE html>
<html>
    <head>
        <title>ML-CH06-5</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/ml_ch00.css') }}">
    </head>
    <body>
        <div class=center>
        	<h2>Learning Best Practices for Model Evaluation and Hyperparameter Tuning</h2>
        	
        	<br><h3>Looking at different performance evaluation metrics</h3>
        	<br><p>Reading a confusion matrix</p>
   			<img src="data:image/png;base64, {{ ml06_plot_url3 }}">
   			<br><p>Optimizing the precision and recall of a classification model</p>
        	<p>{{ ml06_url11 }}</p>
        	<p>{{ ml06_url12 }}</p>
        	<p>{{ ml06_url13 }}</p>
        	<p>{{ ml06_url14 }}</p>
        	<p>{{ ml06_url15 }}</p>
   			
        	<br><br><a href="/">Home</a>
        </div>
    </body>
</html>
