<!DOCTYPE html>
<html>
    <head>
        <title>ML-CH06-1</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/ml_ch00.css') }}">
    </head>
    <body>
        <div class=center>
        	<h2>Learning Best Practices for Model Evaluation and Hyperparameter Tuning</h2>
        	
        	<br><h3>Streamlining workflows with pipelines</h3>
        	<br><p>Combining transformers and estimators in a pipeline</p>
			<p>{{ ml06_url1 }}</p>
			
        	<br><br><a href="/#ml_ch06_1">Home</a>
        </div>
    </body>
</html>
