<!DOCTYPE html>
<html>
    <head>
        <title>ML-CH06-4</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/ml_ch00.css') }}">
    </head>
    <body>
        <div class=center>
        	<h2>Learning Best Practices for Model Evaluation and Hyperparameter Tuning</h2>
        	
        	<br><h3>Fine-tuning machine learning models via grid search</h3>
        	<br><p>Tuning hyperparameters via grid search</p>
        	<p>{{ ml06_url6 }}</p>
        	<p>{{ ml06_url7 }}</p>
        	<p>{{ ml06_url8 }}</p>
        	<br><p>Algorithm selection with nested cross-validation</p>
        	<p>{{ ml06_url9 }}</p>
        	<p>{{ ml06_url10 }}</p>
   			
        	<br><br><a href="/#ml_ch06_4">Home</a>
        </div>
    </body>
</html>
