<!DOCTYPE html>
<html>
    <head>
        <title>ML-CH06-3</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/ml_ch00.css') }}">
    </head>
    <body>
        <div class=center>
        	<h2>Learning Best Practices for Model Evaluation and Hyperparameter Tuning</h2>
        	
        	<br><h3>Debugging algorithms with learning and validation curves</h3>
        	<br><p>Diagnosing bias and variance problems with learning curves</p>
   			<img src="data:image/png;base64, {{ ml06_plot_url1 }}">
   			<br><p>Addressing overfitting and underfitting with validation curves</p>
   			<img src="data:image/png;base64, {{ ml06_plot_url2 }}">

        	<br><br><a href="/#ml_ch06_3">Home</a>
        </div>
    </body>
</html>
