<!DOCTYPE html>
<html>
    <head>
        <title>ML-CH06-6</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/ml_ch00.css') }}">
    </head>
    <body>
        <div class=center>
        	<h2>Learning Best Practices for Model Evaluation and Hyperparameter Tuning</h2>
        	
   			<br><p>Plotting a receiver operating characteristic</p>
   			<img src="data:image/png;base64, {{ ml06_plot_url4 }}">
        	<p>{{ ml06_url16 }}</p>
        	<p>{{ ml06_url17 }}</p>

        	<br><br><a href="/#ml_ch06_6">Home</a>
        </div>
    </body>
</html>
